
/* styles/toast.css */
.toast-success {
  background-color: #e6fffa;
  color: #065f46;
  border-left: 5px solid #245645;
}

.toast-error {
  background-color: #fef2f2;
  color: #991b1b;
  border-left: 5px solid #ef4444;
}

.toast-info {
  background-color: #eff6ff;
  color: #1e3a8a;
  border-left: 5px solid #3b82f6;
}

.toast-warning {
  background-color: #fffbea;
  color: #92400e;
  border-left: 5px solid #f59e0b;
}
